<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techtycoon">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.techtycoon.MainActivity" />
        </activity>
        <activity
            android:name=".allCompanies"
            android:label="@string/title_activity_all_companies"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.techtycoon.MainActivity" />
        </activity>
        <activity
            android:name=".ChooseMemoryActivity"
            android:label="@string/title_activity_choose_memory"
            android:parentActivityName=".DeviceCreator"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.techtycoon.DeviceCreator" />
        </activity>
        <activity
            android:name=".DeviceCreator"
            android:label="@string/title_activity_device_creator"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.techtycoon.MainActivity" />
        </activity>
        <activity
            android:name=".DetailsOfOneDevice"
            android:label="@string/title_activity_details_of_one_device"
            android:parentActivityName=".AllDevices"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.techtycoon.AllDevices" />
        </activity>
        <activity
            android:name=".DetailsOfOneCompany"
            android:label="@string/title_activity_details_of_one_company"
            android:parentActivityName=".AllDevices"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.techtycoon.AllDevices" />
        </activity>
        <activity
            android:name=".AllDevices"
            android:label="@string/title_activity_all_devices"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.techtycoon.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.tech_tychoon.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewCompany" />
    </application>

</manifest>